{% extends 'base.html' %}
{% load static %}

{% block content %}
    
  <div class="container-inline">
    <section id="welcomePage">
      <div id="welcome-message">
        <h1>Welcome to</h1>
        <h1>My Music App!</h1>
      </div>
      <div class="music-img">
        <img src="{% static 'images/musicIcons.webp' %}" alt="music-icon" />
      </div>
    </section>

    <!-- Registration -->
    <section id="registerPage">
      <form method="post">
          {% csrf_token %}
            <fieldset>
                <legend>Profile</legend>
                
                <div>
                    <label for="username">{{ form.username.label }}</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
        
                <div>
                    <label for="email">{{ form.email.label }}</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
        
                <div>
                    <label for="age">{{ form.age.label }}</label>
                    {{ form.age }}
                    {{ form.age.errors }}
                </div>
        
                <button type="submit" class="register">Enter</button>
            </fieldset>
      </form>
    </section>
  </div>
    
{% endblock %}