{% load static %}
{#{% load get_user %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <title>Artonia</title>
</head>
<body>
<div id="wrapper">
    <header>
        <!-- Navigation -->

        <!-- Logo image: a link to index/home page -->
        <a id="logo" href="{% url 'home' %}">
            <img id="logo-img" src="{% static 'images/Artonia Logo.jpg' %}" alt="logo"/>
        </a>

        <nav>
            <!-- If there is a profile -->
            {#            {% get_user as profile %}#}
            {% if request.user.is_authenticated %}
                <div class="user">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                    <a href="{% url 'create_macrame' %}">New Macrame</a>
                    <a href="#">New Art Painting</a>
                    <a href="#">Profile</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}"
                           onclick="event.preventDefault(); document.getElementById('logout-form').submit()">Logout</a>
                        </div>
                        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                            {% csrf_token %}
                        </form>
                    {% endif %}
                <!-- If profile has NOT been created -->
            {% else %}
                <div class="guest">
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Create Profile</a>
                </div>
            {% endif %}
        </nav>
    </header>
</div>

{% block content %}
{% endblock %}

<!-- footer -->
<footer>
    <p>&copy; 2024 Artonia Team. All rights reserved.</p>
</footer>
</body>
</html>