{% extends 'base.html' %}

{% block content %}
    <main>
        <!-- Dashboard page -->
        {% if macrames %}
            <!-- Display a heading if there are posts -->
            <h2>Macrame</h2>
        {% else %}
            <!-- Display a heading if there are NO posts -->
            <h2>No Macrames yet.</h2>
        {% endif %}
            <section id="dashboard">
                <!-- Display a div with information about each post (if any) -->
                {% for macrame in macrames %}
                <!-- first post -->
                <div class="post">
                    <!-- post image -->
                    <img
                            src="{{ macrame.image_url }}"
                            alt="My cool macrame img"
                    />
                    <!-- Macrame title -->
                    <h3 class="title">NEW MACRAME</h3>
                    <!-- macrame description -->
                    <p class="description">{{ macrame.description|truncatewords:3 }}</p>
                    <!-- post details button -->
                    <a class="details-btn" href="#">See More</a>
                </div>
                {% endfor %}
            </section>
    </main>
{% endblock %}

