{% extends 'base.html' %}

{% block content %}
    <main>
        <!-- Add Macrame Form -->
        <section id="create">
            <div class="form">
                <h2>New Macrame</h2>
                <form class="label" method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <!-- form button -->
                    <button type="submit" class="button">Publish</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}


