{% extends 'base.html' %}

{% block content %}
    <main>
        <!-- Macrame Details -->
        <section>
            <div class="workshop-current-card">
                <h2 class="workshop-form-header">Macrame Details</h2>
                <!-- Macrame image -->
                <img
                        class="workshop-current-image"
                        style="border-radius: 7px"
                        src="{{ macrame.image_url }}"
                        alt="{{ macrame.name }}"
                />
                <!-- macrame title -->
                <p>{{ macrame.name }}</p>
                <div class="workshop-current-details">
                    <div>
                        <!-- macrame content -->
                        <p>{{ macrame.description }}</p>
                        <p>{{ macrame.knot_type }}</p>
                        <p>{{ macrame.knot_description }}</p>
                        <p>{{ macrame.difficulty_level }}</p>
                        <p>{{ macrame.created_at }}</p>
                    </div>
                </div>
                <div class="workshop-buttons">
                    <a class="view-button" href="{% url 'edit_macrame' macrame.pk %}">Edit</a>
                    <a class="view-button" style="background-color: darkred"
                       href="{% url 'delete_macrame' macrame.pk %}">Delete</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}