{% extends 'base.html' %}

{% block content %}
    <main>
        <!-- Edit Macramé Form -->
        <section>
            <div class="workshop-current-card">
                <h2 class="workshops-current-header">Edit Macrame</h2>

                <form class="workshop-form-fields" method="POST" action="">
                    {% csrf_token %}
                    {{ form }}
                    <!-- form button -->
                    <div class="workshop-form-buttons">
                        <button class="view-button" type="submit">Edit</button>
                        <button type="submit" class="view-button" style="background-color: darkred"><a
                                href="{% url 'details_macrame' macrame.pk%}" style="color: white">Cancel</a>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
