{% extends 'base.html' %}

{% block content %}
    <main>
        <!-- Art Painting Details -->
        <section>
            <div class="workshop-current-card">
                <h2 class="workshop-form-header">Art Painting Details</h2>
                <img
                        class="workshop-current-image"
                        style="border-radius: 7px"
                        src="{{ artpainting.image_url }}"
                        alt={{ artpainting.name }}
                />
                <p>{{ artpainting.name }}</p>
                <div class="workshop-current-details">
                    <div>
                        <p>Description {{ artpainting.description }}</p>
                    </div>
                    <div>
                        <p>Technique name: {{ artpainting.technique_name }}</p>
                    </div>
                    <div>
                        <p>Technique description: {{ artpainting.technique_description }}</p>
                        <p>Technique description: {{ artpainting.created_at }}</p>
                    </div>
                    <!--Edit and Delete buttons -->
                    <div class="workshop-buttons">
                        <a class="view-button" href="{% url 'edit_art-painting' artpainting.pk %}">Edit</a>
                        <a class="view-button" style="background-color: darkred"
                           href="{% url 'delete_art-painting' artpainting.pk %}">Delete</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}