{% extends 'base.html' %}

{% block content %}
    <main>
        <!-- Art Painting Details -->
        <section id="details">
            <div id="details-wrapper">
                <h2>Art Painting Details</h2>
                <!-- Art Painting image -->
                <img
                        id="details-img"
                        src="{{ artpainting.image_url }}"
                        alt="My clever dog :)"
                />
                <!-- Art Painting title -->
                <p id="details-title">{{ artpainting.name }}</p>
                <div id="info-wrapper">
                    <div id="details-description">
                        <!-- Art Painting content -->
                        <p>Description {{ artpainting.description }}</p>
                    </div>
                    <div id="details-description">
                        <!-- Art Painting content -->
                        <p>Technique name: {{ artpainting.technique_name }}</p>
                    </div>
                    <div id="details-description">
                        <!-- Art Painting content -->
                        <p>Technique description: {{ artpainting.technique_description }}</p>
                    </div>
                    <!--Edit and Delete buttons -->
                    <div id="action-buttons">
                        <a href="{% url 'edit_art-painting' artpainting.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'delete_art-painting' artpainting.pk %}" id="delete-btn">Delete</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}