{% extends 'base.html' %}

{% block content %}
    <main>
        <!-- Art Painting Details -->
        <section>
            <div class="workshop-current-card">
                <h2 class="workshop-form-header">Art Painting Details</h2>
                <img
                        class="workshop-current-image"
                        style="border-radius: 7px"
                        src="{{ artpainting.image_url }}"
                        alt={{ artpainting.name }}
                />
                <p>{{ artpainting.name }}</p>
                <div class="workshop-current-details">
                    <div>
                        <p>Description {{ artpainting.description }}</p>
                    </div>
                    <div>
                        <p>Technique name: {{ artpainting.technique_name }}</p>
                    </div>
                    <div>
                        <p>Technique description: {{ artpainting.technique_description }}</p>
                        <p>Technique description: {{ artpainting.created_at }}</p>
                        <p>Price: {{ artpainting.price }}</p>
                        <p>Last bid: {% if artpainting.last_bid is None %} - {% else %}{{ artpainting.last_bid }}{% endif %}</p>
                        <p>Last bid by: {% if artpainting.bidder is None %} - {% else %}{{ artpainting.bidder }}{% endif %}</p>
                    </div>
                </div>

                {% if is_creator %}
                    <div class="workshop-buttons">
                        <a class="view-button" href="{% url 'edit_art-painting' artpainting.pk %}">Edit</a>
                        <a class="view-button" style="background-color: darkred"
                           href="{% url 'delete_art-painting' artpainting.pk %}">Delete</a>
                    </div>
                {% else %}
                    <div class="workshop-buttons">
                        <a class="view-button" href="{% url 'bid_art_painting' artpainting.pk %}">Bid</a>
                    </div>
                {% endif %}

                {% if artpainting.is_public %}
                    <div class="text-sm text-gray-600 mt-2">
                        <!-- Like Button -->
                        <div class="workshop-buttons">
                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'art_like_toggle' artpainting.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="like-button">
                                        {% if user_has_liked %}
                                            <span id="total-likes">Total Likes: {{ likes }} ❤️</span>
                                        {% else %}
                                            <span id="total-likes">Total Likes: {{ likes }} 🤍</span>
                                        {% endif %}
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}