{% extends 'base.html' %}

{% block title %}{{ workshop.title }}{% endblock %}

{% block content %}
    <div class="row">
        <!-- Main content: Workshop details -->
        <div class="workshop-current-details">
            {% if workshop.image_url %}
                <div class="workshop-current-image">
                    <img src="{{ workshop.image_url }}" alt="{{ workshop.title }}">
                </div>
            {% endif %}
            <h2 class="workshop-current-details">{{ workshop.title }}</h2>
            <p class="workshop-current-details">{{ workshop.description }}</p>
            <h5 class="workshop-current-details">Workshop Details</h5>
            <ul class="workshop-current-details">
                <li><strong>Date:</strong> {{ workshop.date|date:"F j, Y" }}</li>
                <li><strong>Price:</strong> ${{ workshop.price }}</li>
                <li><strong>Capacity:</strong> {{ workshop.capacity }} spots</li>
            </ul>
            <a class="view-button" href="{% url 'workshop-delete' workshop.pk %}">Delete Workshop</a>

            {#            <button class="view-current-button">Register Now1</button>#}
        </div>
    </div>
{% endblock %}
