{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- Profile Details Section -->

        <section id="details">
            <div id="details-wrapper">
                <h2>Profile Details</h2>

                <!-- if the user has provided a profile image link -->
                {% if user.image_url %}
                    <img
                            id="details-img"
                            src="{{ user.image_url }}"
                            alt="profile img"
                    />
                {% else %}
                    <!-- if the user has NO profile image link -->
                    <img
                            id="details-img"
                            alt="profile img"
                            src="https://t.ly/XISsv"
                    />
                {% endif %}
                <!-- User's full name -->
                <p id="details-title">{{ user.first_name }} {{ user.last_name }}</p>

                <div id="info-wrapper">
                    <div id="details-description">
                        {% if user.description %}
                            <p>
                                Description: <span>{{ user.description }}</span>
                            </p>
                        {% endif %}
                        <p>
                            Last Login: <span>{{ user.last_login|date }}</span>
                        </p>
                    </div>

                    <!--Edit and Delete buttons -->
                    <div id="action-buttons">
                        <a href="{% url 'user_edit' user.pk %}" id="edit-btn">Edit</a>
                        <a href="#" id="delete-btn">Delete</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
 